
.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.3rem;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 205px;
  height: 170px;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.category-card:hover {
  background-color: #ff545a; /* primary-500 */
}

.category-card:hover .heading-2,
.category-card:hover .paragraph {
  color: white;
}


/* Estilo para el ícono de la tarjeta */
.single-lit-topics-icon i {
  font-size: 2rem; /* Ajusta según tu necesidad */
  margin-bottom: 0.5rem; /* Ajusta según sea necesario */
}

/* Estilo para el encabezado */
.heading-2 {
  font-size: 1.2rem; /* Ajusta según tu necesidad */
  font-weight: 500; /* Ajusta según tu necesidad */
  margin-bottom: 0.25rem; /* Ajusta según sea necesario */
}

/* Estilo para el párrafo */
.paragraph {
  font-size: 1rem; /* Ajusta según tu necesidad */
  color: #6b7280; /* Ajusta según tu necesidad */
}