/* category-card.component.css */

.category-container {
  display: grid; /* grid */
  grid-template-columns: repeat(1, 1fr); /* grid-cols-1 */
  gap: 0.5rem; /* gap-2 */
  justify-items: center;
  max-width: 1200px;
  /* margin: 0 auto; */
  margin-left: auto; /* mx-auto */
  margin-right: auto; /* mx-auto */
  margin-bottom: auto; /* mb-6 */
  padding-left: 2rem; /* Ajusta según sea necesario */
  padding-right: 2rem; /* Ajusta según sea necesario */
  padding: 80px 1rem; /* pt-[80px], px-4 */
}

@media (min-width: 768px) {
  .category-container {
    grid-template-columns: repeat(3, 1fr); /* md:grid-cols-3 */
  }
}

@media (min-width: 1024px) {
  .category-container {
    grid-template-columns: repeat(5, 1fr); /* lg:grid-cols-5 */
  }
}

/* CSS para la tarjeta contenedora */
.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem; /* Ajusta según sea necesario */
  border: 1px solid #e5e7eb;
  border-radius: 0.3rem;
  background-color: #fff; /* Ajusta según sea necesario */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añadido sombra para mejor apariencia */
  width: 205px; /* Ancho fijo */
  height: 170px; /* Alto fijo */
  box-sizing: border-box;
}

/* Estilo para el ícono de la tarjeta */
.single-lit-topics-icon i {
  font-size: 2rem; /* Ajusta según tu necesidad */
  margin-bottom: 0.5rem; /* Ajusta según sea necesario */
}

/* Estilo para el encabezado */
.heading-2 {
  font-size: 1.2rem; /* Ajusta según tu necesidad */
  font-weight: 500; /* Ajusta según tu necesidad */
  margin-bottom: 0.25rem; /* Ajusta según sea necesario */
}

/* Estilo para el párrafo */
.paragraph {
  font-size: 1rem; /* Ajusta según tu necesidad */
  color: #6b7280; /* Ajusta según tu necesidad */
}