<!-- pb-abajo  pt-arriba-->
<main>
  <section class="category container mx-auto max-w-6xl my-[50px] pt-[30px] relative">
    <div class="category-container grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 
                gap-1 justify-items-center md:absolute md:w-full md:-top-[150px]">
      <div *ngFor="let card of categoryCards">
        <div class="category-card group duration-300">
          <div class="single-lit-topics-icon">
            <i [ngClass]="card.icon"></i>
          </div>
          <h2 class="heading-2">
            {{ card.name }}
          </h2>
          <p class="paragraph">{{ card.counts | number }} listings</p>
        </div>
      </div>
    </div>
    
  </section>
</main>