<main>
    <section class="how-it-works">       
        <div class="feature-container"> <!-- container mx-auto -->
            <div *ngFor="let card of featureCards">
                <div class="feature-card">
                    <div class="icon-container">
                        <i [ngClass]="card.icon"></i>
                    </div>
                    <h3 class="card-heading">
                        <p>{{ card.label }}</p>
                    </h3>
                    <p class="card-paragraph">{{ card.texto }}</p>
                    <a class="card-button" [href]="card.href || '#'">{{ card.href ? 'Read More' : 'Read More' }}</a>
                </div>
            </div>
        </div>        
    </section>
</main>