<!-- apsection navbar -->
<section class="bg-[#859098]">
  <div class="extra-information flex justify-between items-center">
    <h2 class="uppercase mb-6 tracking-wide text-[20px]">Selects</h2>
    <p class="text-[18px]">Opciones Navbar...</p>
  </div>
  <hr class="border-[#e1e5eb] mt-[20px] mb-[15px]">
  <div class="extra-information flex justify-between items-center">
    <h2 class="uppercase mb-6 tracking-wide text-[20px]">ListRace</h2>
    <p class="text-[18px]">Menus Navbar...</p>
  </div>
</section>

<!-- apsection How it works -->


<app-category-card></app-category-card>
<app-feature-card></app-feature-card>

<!-- apsection explore -->

<section class="bg-[#f8fafb] pt-[117px] pb-[95px]">
    <div class="container mx-auto px-6 text-center max-w-6xl">
      <h2 class="uppercase mb-6 tracking-wide text-[24px]">Explore</h2>
      <p class="text-[18px]">Explore New place, food, culture around the world and many more</p>
    </div>
</section>

<app-activity-card></app-activity-card>

<!-- apsection footer -->
<section class="bg-[#859098] mt-[20px]">
  <div class="extra-information flex justify-between items-center">
    <h2 class="uppercase mb-6 tracking-wide text-[24px]">ListRace</h2>
    <p class="text-[18px]">Menus footer...</p>
  </div>
  <hr class="border-[#e1e5eb] mt-[20px] mb-[15px]">
  <div class="extra-information flex justify-between items-center">
    <h2 class="uppercase mb-6 tracking-wide text-[20px]">
      ©Copyright. Designed And Developed By Jhon lima</h2>
    <p class="text-[18px]">Links footer...</p>
  </div>
</section>
<br>
