<!-- section navbar -->
<section>
  <div class="extra-information flex justify-between items-center">
    <h2 class="uppercase mb-3 tracking-wide text-[20px]">Selects</h2>
    <p class="text-[18px]">Opciones Navbar...</p>
  </div>
  <hr class="border-[#e1e5eb]">

  <nav class="py-[10px]">
    <div class="container mx-auto flex flex-wrap justify-start gap-2 items-center lg:justify-between p-2 max-w-6xl">
      <div class="w-full flex justify-between items-center lg:w-auto">
        <button type="button" class="burguer relative border-primary-500 border-[1px] p-1 rounded-md lg:hidden" (click)="toggleMenu()">
          <img [src]="isMenuOpen ? '/assets/images/close.svg' : '/assets/images/menu.svg'" alt="Menu" width="24px" height="24px">
        </button>
        <a class="text-[#1b1e20] font-bold text-[20px] inline-block mx-auto lg:mx-0" href="/">List<span class="text-primary-500">Race</span></a>
      </div>
      <!-- menu de opciones -->
      <div [ngClass]="{'w-full': isMenuOpen, 'hidden': !isMenuOpen, 'lg:flex': true}">
        <ul class="flex flex-col gap-6 py-4 md:gap-10 md:flex-row">
          <li><a class="text-[#859098] uppercase font-medium hover:text-primary-500"
            href="">Home</a></li>
          <li><a class="text-[#859098] uppercase font-medium hover:text-primary-500" 
            href="">How it works</a></li>
          <li><a class="text-[#859098] uppercase font-medium hover:text-primary-500"
            href="">Explore</a></li>
          <li><a class="text-[#859098] uppercase font-medium hover:text-primary-500"
            href="">Review</a></li>
          <li><a class="text-[#859098] uppercase font-medium hover:text-primary-500"
            href="">Blog</a></li>
          <li><a class="text-[#859098] uppercase font-medium hover:text-primary-500"
            href="">Contact</a></li>
        </ul>
      </div>
    </div> 
  </nav>
</section>

<!-- Section hero -->
<section class="hero h-[800px] bg-[url('/assets/images/hero/banner.jpg')] relative text-center contrast-100 pt-[80px] md:pt-[155px]">
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="container mx-auto px-6 max-w-6xl relative">
    <h2 class="text-[24px] text-white uppercase font-bold tracking-[2.4px] text-pretty md:text-[40px] md:px-12 lg:text-[48px]">
      best place to find and explore that all you need 
    </h2>
    <p class="text-white text-[18px] mt-[25px] px-10">
      Find Best Place, Restaurant, Hotel, Real State and many more think in just One click
    </p>
  </div>
</section>
<app-category-card></app-category-card>

<!-- section How it works -->
<section class="how-it-works my-8 text-center text-[24px] container mx-auto pt[100px] px-6 max-w-6xl pb-[90px] md:pt-[300px] lg:pt-[50px]">
    <h2 class="uppercase mb-6 tracking-wide text-[24px]">How it works</h2>
    <p class="text-[18px]">Learn More about how our website works</p>
</section>
<app-feature-card></app-feature-card>

<!-- section explore -->
<section class="bg-[#f8fafb] pt-[117px] pb-[95px]">
    <div class="container mx-auto px-6 text-center max-w-6xl">
      <h2 class="uppercase mb-6 tracking-wide text-[24px]">Explore</h2>
      <p class="text-[18px]">Explore New place, food, culture around the world and many more</p>
    </div>
</section>

<app-activity-card></app-activity-card>

<!-- section reviews -->
<section class="pt-[80px] pb-[50px]">
  <div class="container mx-auto px-6 text-center max-w-6xl">
    <h2 class="uppercase mb-6 tracking-wide text-[24px]">Cientes reviews</h2>
    <p class="text-[18px]">What our client say about us</p>
  </div>
</section>
<app-reviews></app-reviews>

<!-- Section Metrics -->
 <section class="borde-black border-[1px] text-center">
  <h2>90 K+  listings</h2>
 </section>

<section class="container max-w-6xl mx-auto px-6 text-center py-20">
  <h2 class="uppercase mb-6 tracking-wide text-[24px]">News and articles</h2>
  <p class="text-[18px]">Always upto date with our latest News and Articles</p>
</section>
<app-posts></app-posts>

<!-- section email -->
<section class="email bg-[#f8fafb] py-[150px]">
  <div class="email">
    <div class="container mx-auto max-w-6xl text-center px-6">
      <h2 class="uppercase mb-[28px] text-[24px]">do you want to add your business listing with us?</h2>
      <p class="paragraph">
        Listrace offer you to list your business with us and we very much able to promote your Business.
      </p>

      <div>
        <form class="flex flex-col items-center md:flex-row md:flex-wrap md:justify-center"
        (submit)="handleSubmit($event)">
        <input 
          [(ngModel)]="email" 
          type="email" 
          name="email" 
          id="email" 
          placeholder="Enter your email here"
          class="text-[16px] border-[1px] border-white shadow-category-card pl-[30px] py-4 mb-6 mt-8 w-full md:w-3/5"
          required>
          
          <button class="w-fit bg-primary-500 text-white py-4 px-6 md:h-[60px] md:mt-[7px]" type="submit">
            Create Account
          </button>
        </form>
        <div *ngIf="message" [ngClass]="{
          'bg-green': isValid, 'bg-red-500': !isValid}">
          {{ message }}
        </div>
        
      </div>
    </div>
  </div>
</section>

<!-- section footer -->
<section>
  <footer class="container mx-auto max-w-6xl px-6 py-[45px] max-w-6xl">
    <div class="flex flex-wrap items-center md:justify-between">
      <div class="logo">
        <a class="text-[#1b1e20] font-bold text-[20px]" href="/">List
          <span class="text-primary-500">Race</span>
        </a>
      </div>
      <ul class="flex flex-wrap w-full gap-6 pb-4 md:w-fit md:gap-6 md:flex-row">
        <li><a class="text-[#859098] uppercase font-medium hover:text-primary-500" 
          href="">How it works</a></li>
        <li><a class="text-[#859098] uppercase font-medium hover:text-primary-500"
          href="">Explore</a></li>
        <li><a class="text-[#859098] uppercase font-medium hover:text-primary-500"
          href="">Review</a></li>
        <li><a class="text-[#859098] uppercase font-medium hover:text-primary-500"
          href="">Blog</a></li>
        <li><a class="text-[#859098] uppercase font-medium hover:text-primary-500"
          href="">Contact</a></li>
        <li><a class="text-[#859098] uppercase font-medium hover:text-primary-500"
          href="">my acount</a></li>
      </ul>
    </div>
    <hr class="border-[#e1e5eb] mt-[20px] mb-[15px]">

    <div class="extra-information flex justify-between items-center">
      <div class="copyright">
        <p class="mb-6 tracking-wide text-[16px] text-[#a5adb3]">
          ©Copyright.   Designed and developed by 
          <a href="https://github.com/jhonlima97">Jhon Lima</a>
        </p>
      </div>
      <ul class="flex flex-wrap w-full gap-6 pb-4 md:w-fit md:gap-6 md:flex-row text-[#a5adb3]">
       <a href="#"><i class="fi fi-brands-whatsapp"> +51 97641888</i></a>
       <a href="#"><i class="fi fi-brands-facebook"></i></a>
       <a href="#"><i class="fi fi-brands-twitter"></i></a>
       <a href="#"><i class="fi fi-brands-google"></i></a>
       <a href="#"><i class="fi fi-brands-linkedin"></i></a>
      </ul>      
    </div>
  </footer> 
</section>